OPENAI_API_KEY=<api-key>
MLFLOW_GCS_ARTIFACT_ROOT=<gcloud-bucket-name>
ML_GCS_PREDICTIONS_ROOT=<gcloud-bucket-name>
MLFLOW_DB_GCS_PATH=<gcloud-bucket-name>/mlflow.db
MODEL_URI=<model-uri>
GOOGLE_CLOUD_PROJECT=<gcloud-project-id>
CONN_STRING_MLFLOW=<connection-string>
MODEL_NAME=<model-name>